body {
font-family: "Poppins", sans-serif;
background-image: url('common/page_bg.jpg');
height: 100vh;
}

.header {
padding: 12px;
text-align: center;
/* background: #3e3f3fbe; */
color: rgba(255, 255, 255, 0.9);
font-size: 30px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-image: url("common/page_bg.jpg");
-webkit-box-shadow: 3px 43px 87px 21px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 43px 87px 21px rgba(0,0,0,0.75);
box-shadow: 3px 43px 87px 21px rgba(0,0,0,0.75);
}

#image {
object-fit: cover;
width: 100%;
max-height: 100%;
border-radius: 70%;
}
.grid-container {
    padding-top: 20px;
position: relative;
border: 0px solid rgba(231, 209, 9, 0);
width: 90%;
height: auto;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
left: 50px;
top:10%;
}

#logo {
    width: 15%;
    height:15%;
    margin-top:10px
}
    

.grid-item {

position: relative;
max-width: 100%;
max-height: 100%;
background-color: rgba(224, 15, 15, 0);
border: 10px solid rgba(61, 59, 59, 0.575);
font-size: 30px;
text-align: center;
margin-left: 50px;
margin-right: 50px;
border-radius: 70%;
}
.effect-text {
color: white;
font-size: 30px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
}
.overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: .5s ease;
background-color: #dae2e400;
border-radius: 70%;
}
    
.grid-item:hover .overlay {
opacity: 1;
}

