body {
  font-family: "Poppins", sans-serif;
  background-image: url('common/page_bg.jpg');
  height: 100vh;
  }
#soham {
  background-image: url("common/page_bg.jpg");
  -webkit-box-shadow: 3px 43px 87px 21px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 43px 87px 21px rgba(0,0,0,0.75);
  box-shadow: 3px 43px 87px 21px rgba(0,0,0,0.75);
  }
#right {
  float: right;
}

#image_container {
    padding-right: 40px;
}  

 span {
  margin: 0px!important;
  text-align:center;
  min-width:144.94px
}
 
  .dropdown {
    position: relative;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  #right {
    float: right;
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    box-shadow: 3px 43px 87px 21px rgba(0,0,0,0.75);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: rgb(80, 76, 76);}
  
  .dropdown:hover .dropdown-content {
    display: block;
    min-width:144.94px
  }



  /*styling ad card*/


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  right:-50px;
  text-align: center;
  color:white;
  font-family: "Poppins", sans-serif;

background-color: rgb(48, 47, 47);
}
.column {

  width: 60%;
  padding: 0 10px;
}


.row {margin: 0 -5px;}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.heading_interest{

  
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
}

button{
  width: max-content;
  background-color: rgb(145 145 145);
  color:white;
}
.no-click {
  pointer-events: none;
}

.buy_ad
{
  width: 25%;
  height: 150px;
  border: 5px solid #555;
  margin-top: 10px;
  margin-left:30px;
  float:left
}

.container101 {
    padding:15px
}
.modal-header
{
  background-color: rgb(71, 68, 68);
}
.modal-body
{
  background-color:rgb(255, 255, 255);
}    
.modal-footer
{
  background-color: rgb(71, 68, 68); 
}


h2
{
font-family: "Poppins", sans-serif;
color:rgba(255, 255, 255, 0.685);

}

.container{
width:auto;
height:auto;
margin-left:55px;
}

#button_create {
 margin-left: 1%;
}

#create_ad {
 padding-top: 5%;
}

/* ad modal implemented here */



/* The Modal (background) */
#myymodal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
box-shadow: 3px 43px 87px 21px rgba(0,0,0,0.75);
}

/* Modal Content */
#mcontent {
position: relative;
background-color: #0000008c;
margin: 20%;
margin-top: 1%;
margin-left:14%;
padding: 1%;
border: 1px solid #888;
width: 70%;


box-shadow: 0 4px 8px 0 rgb(52 50 50 / 0%),0 6px 20px 0 rgba(0,0,0,0.19);
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.4s


}

/* Add Animation */
@-webkit-keyframes animatetop {
from {top:-300px; opacity:0} 
to {top:0; opacity:1}
}

@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

/* The Close Button */
.cloose {
color: white;
float: right;
font-size: 28px;
font-weight: bold;
}

.cloose:hover,
.cloose:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

#mheader {
padding: 20px 16px;
background-color: #353333;
color: white;
text-align: center;
}

#mbody {padding: 10px 0px 0px 10px;
  background-color: #353333;
color:white;

}

#mfooter {
padding: 2px 16px;
background-color: #353333;
color: white;
}

/* ended ad modal here */

/* form edit details */

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #383838;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #242424;
}

#divform {
  border-radius: 5px;
  background-color: #504f4f00;
  padding: 35px;
}

/* bootstrap modal customize start */

.modal-body
{
  background-color:#3f3939;

 
}
.modal-header
{
  background-color:#333030;
  border:0px;
  color:white;
}
.modal-footer
{
  background-color:#333030;
  border:0px;
}
.input-group-text
{
  background-color:#2e212100;
  color:white;

  border:0px;
}
/* bootstrap modal customize end */

.wala_title
{
  position:relative;
  color:white;
  left:4px;
 
}