<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="icon" href="static/common/logo_final_2.png" type="image/gif" sizes="16x16">
<link rel="stylesheet" href="static/buy_page.css">
<script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-storage.js"></script>
<title>
    BUY | SAS Online Store
  </title>
</head>
<body>
  <script>
    const firebaseConfig = {
      apiKey: "AIzaSyAXwgisDN7kx6BMZCIwYjj8KNDgmJuz1Mg",
      authDomain: "exampledjango-4af38.firebaseapp.com",
      databaseURL: "https://exampledjango-4af38.firebaseio.com",
      projectId: "exampledjango-4af38",
      storageBucket: "exampledjango-4af38.appspot.com",
      messagingSenderId: "476609483924",
      appId: "1:476609483924:web:14a07bf9950ed344809081",
      measurementId: "G-Q8RNK0P4KT"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    //console.log(firebase.storage)
  </script>
  <script type="text/javascript" src="static/buy_page1.js"></script>
  <script type="text/javascript" src="static/buy_page2.js"></script>
<div class="navbar navbar-expand-lg navbar-dark bg-dark" id="soham">
    <a class="navbar-brand" href="home" id="image_container">
      <img src="static/common/logo_final_2.png" width="120" height="60" loading="lazy" alt="404">
    </a>
    <div class="dropdown">
      <span class="navbar-brand mb-0 h1">Social</span>
      <div class="dropdown-content">
        <a href="texts">Texts</a>
        <a href="interests">Interests</a>
        <a href="confirmations">Confirmations</a>
      </div>
    </div>
    <div class="dropdown">
      <span class="navbar-brand mb-0 h1">Goods</span>
      <div class="dropdown-content">
        <a href="buy">Buy</a>
        <a href="sell">Sell</a>
        <a href="rent">Rent</a>
        <a href="lease">Lease</a>
      </div>
    </div>
    <div class="dropdown">
      <span class="navbar-brand mb-0 h1">Services</span>
      <div class="dropdown-content">
        <a href="render_service">Request Service</a>
        <a href="require_service">Render Service</a>
      </div>
    </div>
    <div class="dropdown" id="screenSizeChange">
      <span class="navbar-brand mb-0 h1"> Hi , {{user_name}}</span>
      <div class="dropdown-content">
        <a href="account_details">Account Details</a>
        <a href="all_transactions">All Transactions</a>
        <a href="logout">Logout</a>
      </div>
    </div>
  </div>
  <div id="showAlert">

  </div>
<!--search box -->
<br>
<div class="boxcontainer">
   <table class="elementcontainer">
      <tr>
        <td>
          <form action='buy' method="get" id="form">
            {% csrf_token %}
            <input type="text" name="text" id="search_bar" placeholder="Search Item" class="Search" autocomplete="off" required />
          </form>
        </td>
        <td>
          <img src="static/common/sbttn.png" onClick="search_clicked()" id="search_bttn" width="40" height="30">  
        </td>
      </tr>
    </table>
</div>      
<br>

{% if show_happy == 1 %}
<div class="not_searched" id="do_search">
<img id="do_search_img"src="static/common/face_1.png">
<p id="do_search_text"> Try searching something </p>
</div>
{% endif %}


<!-- ads  -->
<div class="ads_shown" id="ads">

  {% with items_list=list_to_show %}
  {% if items_list|length > 0 %}
  {% for item in items_list reversed %}
  <span class="row">
        <div class="column">
          <div class="card">
            <span class="container101">
              <img class="buy_ad" src="{{item.3}}">
              <h3>{{item.0}}</h3>
              <p>{{item.1}}</p>
              <h6>Price : ₹ {{item.4}}</h6>
              <h6><strong>Seller : {{item.2}}</strong></h6>
              <button type="button" id="myyBtn" onclick="clickHandler(event)">Show Interest</button>
          </div>
        </div>


     <!-- The Modal -->
      <div id="myyModal" class="modal">
        <!-- Modal content -->
        <div id="mcontent">
          <div id="mheader">
            <h2>Details</h2>
            <span class="cloose">&times;</span>
          </div>
          <div id="mbody">
            <span class="container101">
              <img class="buy_ad" src="{{item.3}}">
              <h3>{{item.0}}</h3>
              <p>{{item.1}}</p>
              <h6>Price : ₹ {{item.4}}</h6>
              <h6><strong>Seller : {{item.2}}</strong></h6>
              </div>
            <input type="submit" value="Show Interest" onclick="show_interest(event,{{uid}},{{item.6}},'{{item.7}}','{{item.8}}')" value="Show Interest">
          </div>
          <div id="mfooter">
            <h3> </h3>
          </div>
        </div>

      </div>
  </span>
  {% endfor %}

  {% elif show_happy == 0 %}
  <div class="not_searched" id="do_search">
    <img id="do_search_img"src="static/common/face_0.png">
    <p id="do_search_text"> No results found</p>
  </div>
  {% endif %}
  {% endwith %}
</div>



<script>
    function changePaddingLeft(screenSize){
      if(screenSize.matches){
        document.getElementById("screenSizeChange").style.marginLeft = "550px";
      }
    }
    var screenSize = window.matchMedia("(min-width: 1300px)")
    changePaddingLeft(screenSize) // Call listener function at run time
    screenSize.addListener(changePaddingLeft) // Attach listener function on state changes
  </script>
 <script>
    function clickHandler(event) {
      var x = event.currentTarget.parentElement;
      y = x.parentElement;
      z = y.parentElement;
      a = z.parentElement;
      my_modal = a.childNodes;
      // Get the modal
      var modal = my_modal[5];
      // Get the button that opens the modal
      var btn = event.currentTarget;
      // Get the <span> element that closes the modal
      var span = modal.childNodes[3].childNodes[1].childNodes[3];
      console.log(span);
      var y = span;
      var x = y.parentElement;
      // When the user clicks the button, open the modal 
      btn.onclick = function () {
        modal.style.display = "block";
      }
      // When the user clicks on <span> (x), close the modal
      span.onclick = function () {
        modal.style.display = "none";
      }
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    }
  </script>
</body>