<div class="interest_cards">

    <span class="row">
      <div class="column">
        <div class="card tabcontent">
          <span class="container101">
            <img class="interest_ad" src="static/common/logo_final_2.png">
            <span>################################################################</span>
            <p>details about the ad/product</p>
            <p>details about the ad/product</p>
            <span>
              <button type="button">Accept</button>
              <button type="button"> Decline</button>
            </span>
        </div>
      </div>
    </span>

    <span class="row">
      <div class="column">
        <div class="card">
          <span class="container101">
            <img class="interest_ad" src="static/common/logo_final_2.png">
            <span>################################################################</span>
            <p>details about the ad/product</p>
            <p>details about the ad/product</p>
            <span class="response101">Interest Accepted</span>
        </div>
      </div>
    </span>


    <span class="row">
      <div class="column">
        <div class="card">
          <span class="container101">
            <img class="interest_ad" src="static/common/logo_final_2.png">
            <span>################################################################</span>
            <p>details about the ad/product</p>
            <p>details about the ad/product</p>
            <span class="response101">Interest Rejected</span>
        </div>
      </div>
    </span>

    <span class="row">
      <div class="column">
        <div class="card">
          <span class="container101">
            <img class="interest_ad" src="static/common/logo_final_2.png">
            <span>################################################################</span>
            <p>details about the ad/product</p>
            <p>details about the ad/product</p>
            <span class="response101">Waiting for Response</span>
        </div>
      </div>
    </span>


  </div>